.profile {
    padding: 26px;
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .profile-form {
    mat-form-field {
      width: 100%;
      text-align: center;
    }
  }

  .card-image {
    width: 280px;
    height: 380px;
}

.card-title {
    text-align: center;
    font-weight: 600;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 8px;
}

.fav-movie {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: large;
}

.delete-button {
  margin-left: 15px;
  color: red;
}

.btn-class {
  text-align: center;
  margin-left: 20%;
}