.profile-container {
    text-align: center;
}

.info {
    display: inline;
    justify-content: center;
}

.update-profile-container {
    text-align: center;
}

.update-button {
    margin: 25px;
}

